.logo-img a img {
    display: inline-block;
    width: 82px;
    height: 82px;
}

.logo {
    display: flex;
}

p {
    display: inline-block;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding-bottom: 1em;
}

.head-contacts {
    display: flex;
    align-items: center;
}

.head-contacts ul li {
    display: inline-block;
    margin-left: 0.7em;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu div {
    margin: 0.2em;
    font-size: 17px;
}

.main-menu {
    text-align: center;
    margin-top: 1em;
}

.main-menu li {
    margin: 2em;
}

.search-form {
    display: inline-block;
    /* display: none; */
}

.field-box input {
    border: 1px solid #e0e0e0;
    width: 200px;
    height: 38px;
}

.field-box button {
    background-color: transparent;
    border: none;
}


/* @media screen and (max-width: 700px) {

    .head-contacts,
    .mobile-menu p,
    .search-box a p {
        display: none;
    }

    .field-box input {
        display: inline-block;
        width: 200px;
    }
} */

@media screen and (max-width: 900px) {

    .head-contacts,
    .mobile-menu p,
    .search-box a p {
        display: none;
    }

    .field-box {
        display: inline-block;
    }

    .field-box input {
        display: inline-block;
        width: 220px;
        height: 38px;
    }

    .field-box button {
        background-color: transparent;
        border: none;
    }

    .field-box button {
        position: absolute;
        font-size: 22px;
        right: 10px;
        top: 10px;
    }

    .header-menu {
        position: relative;
    }

    .search-form {
        right: 72%;
        top: 25%;
        position: absolute;
    }

    /*   .mobile-menu a {
        display: none;
    } */
}